<div class="container-area contact-persons-container">
  <div class="title">ריכוז אנשי קשר</div>

  <section class="details">
    <div class="column">
      <span>מספר אנשי קשר בתהליך: </span>
      <span>{{persons?.length}}</span>
      <span class="action-label"> פעולות אפשריות: </span>

      <span class="button action-btn" (click)="showContactPersonNewRow()">הוספת מבוטח</span>
      <span class="button action-btn"(click)="removeAll()">איפוס מלא</span>
      <span class="button action-btn"(click)="removeAllNonDelivery()">איפוס אנשי קשר</span>
    </div>
  </section>
</div>
