.super-claim-details {
  //display: flex;
  padding: 1em;
  border-radius: 3px;

  ::ng-deep .mat-form-field-infix {
    width: auto;
    text-align: right;
  }

  .mat-input-element:disabled {
    color: black;
  }
}

.column {
  margin-right: 2em;
  margin-left: 5em;
}

.button {
  margin-right: 85%;
  margin-top: -8vh;
  width: 5%;
}

.disabled-button {
  @extend .button;
  opacity: 0.3;
  cursor: none;
}

.left {
  float: left;
}
