.super-claim-details {
  //display: flex;
  padding: 1em;
  border-radius: 3px;
}

.column {
  margin-right: 2em;
  margin-left: 5em;
}

.button {
  margin-right: 90%;
  margin-top: -20px;
  width: 5%;
}

.disabled-button {
  @extend .button;
  opacity: 0.3;
  cursor: none;
}

.left {
  float: left;
}
