<div class="container-area contact-persons-list-upd-container">
  <div class="title">אנשי קשר</div>
  <div class="contact-persons-table">
      <ng-container>
        <table #cpTable mat-table [dataSource]="dataSource" class="mat-elevation-z8">

          <ng-container matColumnDef="deliveryFlag">
            <th mat-header-cell *matHeaderCellDef class="name-title"> </th>
            <td mat-cell  class="delivery-flag" *matCellDef="let element; let index = index;">
               <mat-checkbox [checked]="element.deliveryFlag === true"></mat-checkbox>
            </td>
          </ng-container>

          <ng-container matColumnDef="name">
            <mat-header-cell *matHeaderCellDef> שם איש קשר </mat-header-cell>
            <mat-cell *matCellDef="let element"> {{element.name}} </mat-cell>
          </ng-container>

          <ng-container matColumnDef="type">
            <mat-header-cell *matHeaderCellDef> סוג </mat-header-cell>
            <mat-cell *matCellDef="let element"> {{element.type.value}} </mat-cell>
          </ng-container>

          <ng-container matColumnDef="address">
            <mat-header-cell *matHeaderCellDef> כתובת </mat-header-cell>
            <mat-cell *matCellDef="let element"> {{element.address}} </mat-cell>
          </ng-container>

          <ng-container matColumnDef="phoneNumber">
            <mat-header-cell *matHeaderCellDef> טלפון נייד </mat-header-cell>
            <mat-cell *matCellDef="let element"> {{element.phoneNumber}} </mat-cell>
          </ng-container>

          <ng-container matColumnDef="email">
            <mat-header-cell *matHeaderCellDef> דואר אלקטרונ </mat-header-cell>
            <mat-cell *matCellDef="let element"> {{element.email}} </mat-cell>
          </ng-container>

          <tr mat-header-row class="grey-bg" *matHeaderRowDef="displayedColumns"></tr>
          <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
        </table>
        <app-contact-persons-upd-list></app-contact-persons-upd-list>
        <button (click)="addContactPerson()" class="btn btn-primary mr-5">הוסף איש קשר</button>

      </ng-container>
  </div>
</div>
