<div class="container-area contact-persons-list-upd-container">
  <div class="title">אנשי קשר</div>
  <div class="contact-persons-table">
      <form [formGroup]="readOnlyTblFormGrp">
        <ng-container formArrayName="rowsArr">
          <table #cpTable mat-table [dataSource]="dataSource" class="mat-elevation-z8">

            <ng-container matColumnDef="deliveryFlag">
              <th mat-header-cell *matHeaderCellDef> </th>
              <td mat-cell *matCellDef="let element; let i = index" [formGroup]="element" class="delivery-flag">
                <mat-checkbox [checked]="element.deliveryFlag === true" formControlName="deliveryFlag"></mat-checkbox>
              </td>
            </ng-container>

            <ng-container matColumnDef="name">
              <mat-header-cell *matHeaderCellDef> שם איש קשר </mat-header-cell>
              <mat-cell *matCellDef="let element" [formGroup]="element">
                <input matInput type="text" formControlName="name">
              </mat-cell>
            </ng-container>

            <ng-container matColumnDef="type">
              <mat-header-cell *matHeaderCellDef> סוג </mat-header-cell>
              <mat-cell *matCellDef="let element" [formGroup]="element">
                <input matInput type="text" formControlName="type">
              </mat-cell>
            </ng-container>

            <ng-container matColumnDef="address">
              <mat-header-cell *matHeaderCellDef> כתובת </mat-header-cell>
              <mat-cell *matCellDef="let element" [formGroup]="element">
                <input matInput type="text" formControlName="address">
              </mat-cell>
            </ng-container>

            <ng-container matColumnDef="phoneNumber">
              <mat-header-cell *matHeaderCellDef> טלפון נייד </mat-header-cell>
              <mat-cell *matCellDef="let element" [formGroup]="element">
                <input matInput type="text" formControlName="phoneNumber">
              </mat-cell>
            </ng-container>

            <ng-container matColumnDef="email">
              <mat-header-cell *matHeaderCellDef> דואר אלקטרונ </mat-header-cell>
              <mat-cell *matCellDef="let element" [formGroup]="element">
                <input matInput type="text" formControlName="email">
              </mat-cell>
            </ng-container>

            <tr mat-header-row class="grey-bg" *matHeaderRowDef="displayedColumns"></tr>
            <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>

          </table>

          <div *ngIf="showNewRow">
            <app-contact-persons-upd-list></app-contact-persons-upd-list>
          </div>

          <button (click)="showContactPersonNewRow(true)" class="btn btn-primary mr-5">הוסף איש קשר</button>

        </ng-container>
      </form>
  </div>
</div>
