.contact-persons-list-upd-container {
  table {
    width: 80%;
  }

  .mat-header-cell {
    font-size: 15px;
    font-weight: bold;
  }

  tr.mat-header-row {
    display: flex;
  }

  tr.mat-row {
    display: flex;
  }

  .delivery-flag {
    padding-top: 13px;
  }

  .name-title {
    margin-right: 10px;
  }

}
