.contact-persons-upd-table {
  width: 100%;
  margin-bottom: 5px;

  ::ng-deep .mat-form-field-wrapper {
    text-align: right;
  }

  .name-column {
    ::ng-deep .mat-form-field-infix {
      margin-right: -0.7em;
      margin-left: 2.4em;
    }
  }

  .address-column {
    ::ng-deep .mat-form-field-infix {
      margin-right: 2em;
      margin-left: 1.5em;
    }
  }

  .phone-number-column {
    ::ng-deep .mat-form-field-infix {
      margin-left: 1.7em;
    }
  }

  tr.mat-row {
    background-color: white;
  }

  .delivery-flag {
    .mat-checkbox {
       margin-right: 1.7em;
    }
  }

  .email-field {
    width: 24.8em;
  }

}
