.contact-persons-upd-table {
  width: 100%;
  margin-bottom: 5px;

  ::ng-deep .mat-form-field-wrapper {
    text-align: right;
  }

  tr.mat-row {
    background-color: white;
  }

  .delivery-flag {
    .mat-checkbox {
       margin-right: 1.7em;
    }
  }

  .email-field {
    width: 24.8em;
  }

}
