<div class="container-area process-details-container" *ngIf="process">
  <div class="title">ריכוז מידע בתהליך</div>
  <div class="details">

    <form [formGroup]="commonDetailsFormGrp">
      <div class="row">
        <span class="column">
                <mat-label>פרטי מבוטח: </mat-label>
        </span>

        <span class="column">
          <mat-form-field class="details name-column">
            <input matInput type="text" formControlName="nameControl">
          </mat-form-field>
        </span>

        <span class="column">
          <mat-form-field class="details id-column">
            <input matInput type="text" formControlName="idControl">
          </mat-form-field>
        </span>

        <span class="column">
          <mat-form-field class="details age-column">
            <input matInput type="text" formControlName="ageControl">
          </mat-form-field>
        </span>

        <span class="column">
          <mat-form-field class="details address-column">
            <input matInput type="text" formControlName="addressControl">
          </mat-form-field>
        </span>
      </div>
    </form>


    <!--<div class="column">
      <span>פרטי מבוטח: </span>
      <span class="insured-name">{{process?.insured?.firstName}}  {{process?.insured?.lastName}}</span>
      <span class="insured-id">{{process?.insured?.identity}}</span>
      <span class="insured-age">{{process?.insured?.age}}</span>
      <span class="insured-address">{{process?.insured?.address?.streetName}}, {{process?.insured?.address?.cityName}}</span>
    </div>-->

    <div class="column bold">
      <span class="insured-name-label">שם</span>
      <span class="insured-id-label">{{identityTypeValue}}</span>
      <span class="insured-age-label">גיל</span>
      <span class="insured-address-label">כתובת</span>
    </div>
  </div>

  <div *ngIf="processDetails">
    <form [formGroup]="claimDetailsFormGrp" class="grey-bg">
      <div class="row-edit">
        <mat-label class="label-edit">סוג תביעת על: </mat-label>
        <mat-form-field class="details-edit" dir="rtl">
          <div class="column">
            <mat-select name="superClaimDdList" formControlName="superClaimControl" dir="rtl">
              <mat-option *ngFor="let superClaim of processDetails.superClaimDdList"
                      [value]="superClaim.code">{{superClaim.value}}
              </mat-option>
            </mat-select>
          </div>
        </mat-form-field>

        <mat-label class="label-edit">תאריך אירוע: </mat-label>
        <mat-form-field class="details-edit">
          <div class="column claim-datepicker" dir="rtl">
            <mat-datepicker-toggle matIconSuffix [for]="picker"></mat-datepicker-toggle>
            <input matInput name="claimDate" [matDatepicker]="picker"
                   formControlName="claimDateControl" placeholder="הזן תאריך">
            <mat-datepicker #picker></mat-datepicker>
          </div>
        </mat-form-field>
      </div>

      <div class="row-edit">
        <mat-label class="label-edit">סיבת אירוע: </mat-label>
        <mat-form-field class="details-edit" dir="rtl">
          <div class="column">
            <mat-select name="claimCauseDdList" formControlName="claimCauseControl" dir="rtl"
                        (selectionChange)="onClaimCauseChange()">
              <mat-option *ngFor="let claimCause of processDetails.claimCauseDdList"
                      [value]="claimCause.code">{{claimCause.value}}
              </mat-option>
            </mat-select>
          </div>
        </mat-form-field>

        <mat-label class="label-edit">מהות אירוע: </mat-label>
        <mat-form-field class="details-edit" dir="rtl">
          <div class="column">
            <mat-select name="injuryTypeDdList" formControlName="injuryTypeControl" dir="rtl">
              <mat-option *ngFor="let injuryType of processDetails.injuryTypeDdList"
                      [value]="injuryType.code">{{injuryType.value}}
              </mat-option>
            </mat-select>
          </div>
        </mat-form-field>
      </div>

      <div class="row-edit">
        <mat-label class="label-edit">תביעה הוגשה באמצעות: </mat-label>
        <mat-form-field class="details-edit" dir="rtl">
          <div class="column">
            <mat-select name="submittedByDdList" formControlName="submittedByControl"
                        dir="rtl" (selectionChange)="onSubmittedByChange($event)">
              <mat-option *ngFor="let submittedBy of processDetails.submittedByDdList"
                      [value]="submittedBy.code">{{submittedBy.value}}
              </mat-option>
            </mat-select>
          </div>
        </mat-form-field>

        <mat-label class="label-edit">אופן קבלת התביעה: </mat-label>
        <mat-form-field class="details-edit" dir="rtl">
          <div class="column">
            <mat-select name="submissionMethodDdList" formControlName="submissionMethodControl" dir="rtl">
              <mat-option *ngFor="let submissionMethod of processDetails.submissionMethodDdList"
                      [value]="submissionMethod.code">{{submissionMethod.value}}
              </mat-option>
            </mat-select>
          </div>
        </mat-form-field>
      </div>

    </form>
  </div>


</div>
