.confirm-dialog {
  direction: rtl;

  .header {
  }

  .btn-container {
    direction: ltr;
  }

  .dialog-title {
    font-size: 14px;
    font-weight: bold;
    margin-top: -20px;
    width: 100%;
    background-color: aliceblue;
  }

}
